<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="ComposerRPC"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="clearPersistedState"
               value="true">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/pl.robakowski.composer/css/default.css">
         </property>
         <property
               name="appName"
               value="ComposerRPC">
         </property>
      </product>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
      <processor
            beforefragment="true"
            class="pl.robakowski.preferences.DefaultPreferencesFiller">
      </processor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="pl.robakowski.preferences.DelegatingWorkbenchPage"
            id="pl.robakowski.composer.plugin.page1"
            name="Composer Search">
      </page>
   </extension>

</plugin>
